[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=QR Encode
Comment=Encode text in qr code image
Icon=qrencode-gtk
Exec=qrencode-gtk
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
